.textLeft {
	text-align: left;
}

.logomed {
	margin-top: -10px;
	max-height: 140px;
}

.logosm {
	height: 75px;
}

.logolg {
	max-height: 200px;
}

.lightpurple {
	color: #aa9aaa	
}

.junctionpurple {
	color: rgb(255, 255, 255);
	text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
}